<%- include('partials/header'); -%>
    <div class="jumbotron card card-image" style="overflow-y:hidden;background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);height:100vh;background-repeat: no-repeat;background-size: cover;background-position: center;">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="text-white text-center py-5 px-4" style="position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);overflow: hidden;">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <h2 class="card-title h2-responsive pt-3 mb-5 font-bold"><strong>Welcome to Employee Record CRUD App</strong></h2>
                        </div>
                    </div>
                    <a href="/employee/add" class="btn btn-outline-white btn-md"><i class="fas fa-clone left"></i> Getting Started</a>
                    <h2 class="card-title h2-responsive pt-3 mb-5 font-bold">-by Hirdesh Gupta </h2>

                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer'); -%>