<%- include('partials/header'); -%>
    <div class="jumbotron card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);height:100vh;background-repeat: no-repeat;background-size: cover;background-position: center;">
        <div class="text-white text-center py-5 px-4" style="position:fixed;top:50%;left:50%;transform:translate(-50%,-50%)">
            <div>
                <h2 class="card-title h2-responsive pt-3 mb-5 font-bold"><strong>Welcome to Employee Reacord CRUD App</strong></h2>
                <a href="/employee/add" class="btn btn-outline-white btn-md"><i class="fas fa-clone left"></i> Getting Started</a>
            </div>
        </div>
    </div>
    <%- include('partials/footer'); -%>